@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --colores-semnticos-gray-gray-2: #666666;
  --colores-semnticos-gray-gray-3: #A1A1A1;
  --colores-semnticos-gray-gray-4: #fafafa;
  --colores-semnticos-info-info-1: #2196f3;
  --colores-semnticos-info-info-3: #E3F2FD;
  --colores-semnticos-warning-warning-2: #ffd54f;
  --colores-semnticos-warning-warning-3: #fff8e1;
  --gray-gray-2: #666666;
  --primar-color-primary-2: #9fa8da;
  --primary-color-primary: #1a237e;
  --principales-primary-primary-1: #1a237e;
  --principales-primary-primary-2: #9fa8da;
  --principales-primary-primary-3: #e8eaf6;
  --principales-secondary-secondary-1: #de1c7d;
  --principales-secondary-secondary-2: #e565a5;
  --principales-secondary-secondary-3: #fffbfc;
  --principales-success-succes-1: #8bc34a;
  --loader: #fe1c7d;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  --c: #0000, var(--loader) 1deg 120deg, #0000 121deg;
  background:
    conic-gradient(from 0deg, var(--c)) top right,
    conic-gradient(from 120deg, var(--c)) bottom,
    conic-gradient(from 240deg, var(--c)) top left;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  animation: l25 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l25 {
  33% {
    inset: -8px;
    transform: rotate(0deg)
  }

  66% {
    inset: -8px;
    transform: rotate(180deg)
  }

  100% {
    inset: 0;
    transform: rotate(180deg)
  }
}

.loader--container {
  display: grid;
  place-items: center;
}